@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --vdrk-blue: hsl(234, 12%, 34%);
  --gry-blue: hsl(229, 6%, 66%);
  --vlght-blue: hsl(0, 0%, 98%);
  --font: 'Poppins', sans-serif;
}
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 90%;
  text-align: center;
  margin-bottom: 75px;
}

.heading {
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.17px;
  font-family: var(--font);
  margin: 85px 0 15px 0;
  color: var(--grayish);
}

.subheading {
  font-weight: 600;
  font-family: var(--font);
  color: var(--vdrk-blue);
}

.tagline {
  font-size: 1.2rem;
  color: var(--gry-blue);
  line-height: 25px;
  font-family: var(--font);
  font-weight: 400;
  letter-spacing: 0.1px;
  width: 95%;
  margin: 0 auto;
}

.feature_box {
  position: relative;
  text-align: left;
  width: 20.5rem;
  height: 14.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  transition: all 0.3s ease-in-out;
  margin-bottom: 24px;
}

.feature_heading {
  color: var(--vdrk-blue);
  font-weight: 600;
  padding: 20px 0 0 20px;
  font-family: var(--font);
}

.feature_description {
  color: var(--gry-blue);
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 23px;
  padding: 5px 0 0 20px;
  text-align: left;
  font-family: var(--font);
}

.feature_box:hover {
  transform: scale(1.1);
}

.feature_box:hover p {
  color: #000;
}

.supervisor {
  border-top: 4px solid var(--cyan);
  transition: all 0.4s ease-in-out;
}
.feature_box:hover.supervisor {
  border-top: 4px solid #000;
  background-color: var(--cyan);
}

.builder {
  border-top: 4px solid var(--red);
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.feature_box:hover.builder {
  border-top: 4px solid #000;
  background-color: var(--red);
}

.karma {
  border-top: 4px solid var(--orange);
  transition: all 0.4s ease-in-out;
}
.feature_box:hover.karma {
  border-top: 4px solid #000;
  background-color: var(--orange);
}

.calculator {
  border-top: 4px solid var(--blue);
  transition: all 0.4s ease-in-out;
}
.feature_box:hover.calculator {
  border-top: 4px solid #000;
  background-color: var(--blue);
}

.feature_icon {
  width: 3.8rem;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/*------------------ Footer----------------- */
footer {
  font-family: var(--font);
  margin-top: 20px;
}
.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 420px) {
  .heading {
    letter-spacing: -1px;
  }

  .tagline {
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: 850px) {
  .heading {
    line-height: 3.3rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .feature_box {
    width: 350px;
    height: 250px;
    margin-bottom: 0;
  }

  .karma {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1100px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'aa bb cc '
      'aa dd cc';
    gap: 30px;
  }

  .supervisor {
    grid-area: aa;
    align-self: center;
  }

  .builder {
    grid-area: bb;
  }

  .karma {
    grid-area: dd;
  }

  .calculator {
    grid-area: cc;
    align-self: center;
  }
}
