@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --vdrk-blue: hsl(234, 12%, 34%);
  --gry-blue: hsl(229, 6%, 66%);
  --vlght-blue: hsl(0, 0%, 98%);
  --font: 'Poppins', sans-serif;
}
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.17px;
  font-family: var(--font);
  margin: 85px auto 15px;
}

.subheading {
  font-weight: 600;
  font-family: var(--font);
  color: var(--vdrk-blue);
}

.tagline {
  font-size: 1.2rem;
  color: var(--gry-blue);
  max-width: 35.5rem;
  margin: 15px auto 65px;
  letter-spacing: 0.8px;
  line-height: 25px;
  width: 100%;
  font-family: var(--font);
  letter-spacing: 0.17px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feature_set_1,
.feature_set_2,
.feature_set_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.feature_set_2 {
  flex-direction: column;
}

.feature_box {
  position: relative;
  text-align: left;
  width: 20.5rem;
  height: 14.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.feature_heading {
  color: var(--vdrk-blue);
  font-weight: 600;
  padding: 20px 0 0 20px;
  font-family: var(--font);
}

.feature_description {
  color: var(--gry-blue);
  font-weight: 400;
  letter-spacing: 0.09px;
  line-height: 23px;
  padding: 5px 0 0 20px;
  text-align: left;
  font-family: var(--font);
}

.supervisor {
  border-top: 4px solid var(--cyan);
}

.builder {
  border-top: 4px solid var(--red);
  margin-bottom: 20px;
}

.karma {
  border-top: 4px solid var(--orange);
}

.calculator {
  border-top: 4px solid var(--blue);
}

.feature_icon {
  width: 3.8rem;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/*------------------ Footer----------------- */
footer {
  font-family: var(--font);
  margin-top: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 420px) {
  .heading {
    letter-spacing: -1px;
  }

  .tagline {
    letter-spacing: 0.1px;
  }
}

@media screen and (min-width: 500px) {
  .tagline {
    width: 33.3rem;
    letter-spacing: -1px;
  }
}

@media screen and (min-width: 850px) {
  .heading {
    line-height: 3.3rem;
  }

  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .feature_box {
    width: 23.3rem;
    height: 16.5rem;
  }

  .feature_set_1,
  .feature_set_2,
  .feature_set_3 {
    margin: 0 20px 0;
  }

  .tagline {
    letter-spacing: -0.8px;
  }

  .karma {
    margin-bottom: 20px;
  }
}
